.restroPageParent {
  display: flex;
  flex-direction: column;
}

.restroPageCheckoutPage {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 200px;
}

.restroPageCheckoutPageDark {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding-bottom: 200px;
}
