.bannerItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 70px;
  background-color: black;
  height: 340px;
  color: white;
}

.fontWhite {
  color: white;
}
