.orderConfirmationParent {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid;
  border-width: 1px;
  justify-content: center;
  text-align: left;
  padding: 15px;
  width: 500px;
}
