.restroDishesLists {
  display: flex;
  margin: 0px 0px;
  background-color: white;
}

.restroDishesListsDark {
  display: flex;
  margin: 0px 0px;
  background-color: black;
  color: white;
}

.restroDishesListsLeft {
  flex: 1;
}

.restroDishesListsMain {
  flex: 1;
}

.restroDishesListsRight {
  flex: 1;
}

.searchAndFilter {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  justify-content: center;
}

.search {
  margin-right: 25px;
}

.checkout {
}
