.mainContent {
  display: flex;
  background-color: white;
}

.mainContentDark {
  display: flex;
  background-color: black;
}

.highLights {
  display: flex;
  flex: 1;
  margin-left: 100px;
  background-color: rgb(247, 243, 243);
  justify-content: center;
}

.restroLists {
  flex: 2;
  background-color: orange;
  margin-right: 100px;
}

.restroListsDark {
  flex: 2;
  background-color: black;
  margin-right: 100px;
}
